// Place all the styles related to the approvals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.approvals_area{
    padding-left: 100px;
    padding-right: 120px;
}

.approval_task{
    width: 400px;
    // border-right:1px solid #0000af;
  }